<!--The content below is only a placeholder and can be replaced.-->

<h2>New Task</h2>
<!-- NEW TASK -->
<form (submit)="createTask()">
  Title <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
  <br>
  <br>
  Description <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
  <input type="submit" value="Create">
</form>
<!-- SHOW ALL TASK -->
<h2>Task List</h2>
<br>
<div *ngFor="let task of tasks" style="border: 2px solid black; padding: 5px; width: 150px;">
  <h3>{{task.title}}</h3>
  <p>{{task.description}}</p>
  <!-- SHOW EDIT -->
  <form (submit)="showEdit(task._id)">
    <input type="submit" value="Edit">
  </form>
  <!-- DELETE -->
  <form (submit)="deleteTask(task._id)">
    <input type="submit" value="Delete">
  </form>
  <br>
  <br>
</div>
<!-- EDIT BOX -->
<div *ngIf="editSingleTask">
  <h3>Edit a Task</h3>
  <form (submit)="updateTask(singleTask._id)">
    Title <input type="text" name="editTask.title" [(ngModel)]="editTask.title">
    <br>
    <br>
    Description <input type="text" name="editTask.description" [(ngModel)]="editTask.description">
    <br>
    <input type="submit" value="EDIT">
  </form>
</div>




